<h2 *ngIf= "event">You are editing: <b>{{ event.title }}! </b></h2>


<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <h3>About your event</h3>

    <div class="form-group">
        <label for="title"> Event Title </label>
        <input formControlName="title" class="form-control"
            [class.is-invalid]="!eventForm.get('title').valid && (eventForm.get('title').touched || eventForm.submitted)">
        <div class=invalid-feedback>
            Title is required!
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-12">
            <div class="form-group">
                <label for="description"> Description </label>
                <textarea formControlName="description" class="form-control" style="resize: none"></textarea>
            </div>
        </div>
        <div class="col-lg-3 col-12 col-md-5">
            <div class="form-group">
                <label for="date"> Date </label>
                <input type="datetime-local" formControlName="date" class="form-control"
                    [class.is-invalid]="!eventForm.get('date').valid && (eventForm.get('date').touched || eventForm.submitted)">
                <div class=invalid-feedback>
                    Date is required!
                </div>
            </div>
        </div>
    </div>

    <h3>Local</h3>
    <div formGroupName="location">
        <div formGroupName="address">
            <div class="row">
                <div class="col-lg-2 col-6">
                    <div class="form-group">
                        <label for="postalCode"> Postal Code </label>
                        <input formControlName="postalCode" class="form-control" (blur)="consultPostalCode()"
                            [class.is-invalid]="!eventForm.get('location.address.postalCode').valid && (eventForm.get('location.address.postalCode').touched || eventForm.submitted)">
                        <div class=invalid-feedback>
                            An address is required!
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="form-group">
                        <label for="number"> Number </label>
                        <input formControlName="number" class="form-control"
                            [class.is-invalid]="!eventForm.get('location.address.number').valid && (eventForm.get('location.address.number').touched || eventForm.submitted)">
                        <div class=invalid-feedback>
                            Number is required or use <b>N/A</b> if don't have one!
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="form-group">
                        <label for="street"> Street </label>
                        <input formControlName="street" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="neighborhood"> Neighborhood </label>
                        <input formControlName="neighborhood" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="city"> City </label>
                        <input formControlName="city" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="state"> State </label>
                        <input formControlName="state" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary float-right"> Next </button>

</form>

<!-- <div class="mapView"></div> -->